* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.photoshop{
    max-width: 100vw;
    text-align: center;
}
img{
    margin-top: 5px;
    height: 250px;
}
.table-container{
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
    display: flex;
    justify-content: center;
}
#items-table{
    margin-bottom: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 40px;
}
tr,th,td{
    padding: 2vw;
    text-align: center;
}
button{
    font-size: 50px;
    
}
@media only screen and (max-width: 700px) {
    button{
        font-size: 15px;
    }
      img{
        height: 100px;
    }
    #items-table{
        font-size: 20px;
    }
  }